#scene-container {
  background-color: #f6f9ff;
}

#tool-panel {
  /* tell our scene container to take up the full page */
  position: absolute;
  z-index: 1;
  right: 70%;
  width: 30%;
  height: 100%;
  padding: 20px;

  box-shadow: -5px 0px 15px -6px rgba(0, 0, 0, 0.42);
}

#tool-button {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
}

#button-item {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #7f27e2;
  border-radius: 10px;
  box-shadow: -5px 0px 15px -6px rgba(0, 0, 0, 0.75);
  color: white;
}

.img-wrapper {
  /* padding: 1em; */
  width: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-src {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  margin-right: 10px;
  width: 50px;
}
